%nav.main-nav
  .container
    %ul#nav-list
      %li.nav-li= link_to "Dashboard", patients_path
      %li.nav-li
        %a{href: '#'} [Other Links]
      %li.nav-li
        %a{href: '#'} [Go Here]
      %li.nav-li
        %h1.nav-logo= link_to "iCare", root_path
