%ul.hidden.compliance-list
  %li{class: patient.print_compliance(type: "med_compliance")} MEDICINE
  %li{class: patient.print_compliance(type: "exer_compliance")} EXERCISE
  %li{class: patient.print_compliance(type: "diet_compliance")} DIET
  %li{class: patient.print_compliance(type: "other_compliance")} OTHER
