/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "flat-ui";
@import "colors";

ul {
  padding: 0;
  list-style: none;
}

a {
  color: $orange;
  &:hover {
    color: $goldenrod;
  }
}

thead {
  background-color: $offwhite;
  a {
    color: $darkblue;
    &:hover {
      color: $lightblue;
    }
  }
}

.center-text {
  text-align: center;
}

.compliance-td {
  padding: 5px;
  font-size: 1.1em;
  color: white;
}

.compliance-list {
  margin: 10px 0;
  li {
    margin: 3px 0;
  }
}

/* !important overrides bootstrap sibling selectors that otherwise make
background gray when another cell in same row is hovered */
.compliant {
  background-color: $brightgreen !important;
  &:hover {
    background-color: $lightgreen;
  }
}
.noncompliant {
  background-color: $brightred !important;
  &:hover {
    background-color: $lightred;
  }
}
